<!doctype html>
<html>
<head>
  <title>A Game</title>
</head>
<body>
    <div>
        <h1>Time for madlibs!</h1>
      <form action="/madlibs">
        <div>
            <label>A color: </label>
            <input type="text" name="color">
        </div>
        <div>
            <label> A noun:</label>
            <input type="text" name="noun">
        </div>
        <div>
            <label>A person: </label>
            <input type="text" name="person">
        </div>
        <div>
            <label>An adjective:</label>
            <select name="adjective">
                <option value="tubular">tubular</option>
                <option value="beautiful">beautiful</option>
                <option value="meaningful">meaningful</option>
                <option value="sweet">sweet</option>
        </div>
        <input type="submit">
    </form>
  </div>
</body>
</html>